<template>
  <div class="bg-gray-400 min-h-screen">
    <div class="p-4 flex justify-center">
      <PostList v-if="posts.length" :posts="posts" />
      <div v-else>Идёт загрузка</div>
    </div>
  </div>
</template>

<script>
import PostList from '@/components/Post/PostList'

export default {
  components: {
    PostList,
  },
  async fetch({ $axios, store }) {
    const posts = await $axios.$get(
      'https://jsonplaceholder.typicode.com/posts'
    )
    store.commit('posts/setPosts', posts)
  },
  computed: {
    posts() {
      return this.$store.getters['posts/posts']
    },
  },
}
</script>
