<template>
  <div class="bg-white shadow p-3 mb-4 rounded w-full">
    <div class="mb-2 text-lg text-bold">{{ post.title }}</div>
    <div class="text-sm">{{ post.body }}</div>
  </div>
</template>
<script>
export default {
  name: 'PostListSingle',
  props: {
    post: {
      type: Object,
      default: () => {},
    },
  },
}
</script>
