<template>
  <div class="flex justify-center flex-wrap lg:w-1/2 sm:w-full">
    <PostListSingle v-for="item in posts" :key="item.id" :post="item" />
  </div>
</template>
<script>
import PostListSingle from '@/components/Post/PostListSingle'

export default {
  name: 'PostList',
  components: {
    PostListSingle,
  },
  props: {
    posts: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
